table, th, td {
    border-collapse: collapse;
    border-color:chocolate;
    /* text-align: center; */
}
.header {
    height: 120px;
    background-color: #002146;
    background-image: url(logo.svg);
    background-size: 270px;
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
}
.footer { 
    bottom: 0;
    height: 50px;
    background-color: #002146;
}